<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Orders:</h1> 
            
            <table st-table="ordersCtrl.orders" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>emplyeesInOrder</th>
                        <th>productsInOrder</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in ordersCtrl.orders">
                        <td>{{row.name}}</td>
                        <td>
                            <ul>
                                <li  ng-repeat="employee in row.emplyeesInOrder">{{employee}}</li>
                            </ul>
                        </td>                        
                        <td>
                            <ul>
                                <li  ng-repeat="product in row.productsInOrder">{{product}}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>