<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Features:</h1>
            <ul>
                <li ng-repeat="x in employeesCtrl.getEmployees()">{{x}}</li>
            </ul>

            <table st-table="employeesCtrl.rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in employeesCtrl.employees">
                        <td>{{row.name}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.role}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>